!!! XML
%rss{ :version => '2.0'}
  %channel
    %title= ":snappyco.de => Dave Newman"
    %description Dave's blog of snappy cool
    %link= "http://snappyco.de/rss.xml"
    - @articles.each do |article|
      %item
        %title=article.title
        %link="http://snappyco.de#{article.url}"
        %description
          =render_article(article)
        %pubDate=Time.parse(article.date.to_s).rfc822()
        %guid="http://snappyco.de#{article.url}"
