= partial :article, :article => @article, :index => false

#disqus_thread
%script{:type=>"text/javascript", :src=>"http://disqus.com/forums/snappycode/embed.js"}
%noscript
  %a{:href=>"http://disqus.com/forums/snappycode/?url=ref"} View the discussion thread.
