-# tags: design 
:markdown
  For such a snappy dresser I'm a horrible designer. I know what I like, I know what I don't like but given a blank canvas I stare at it for a while, give up, and watch the next episode of Lost. Luckily for me [Andy Clark](http://forabeautifulweb.com/blog/) came to Sydney as part of the [Web Directions Roadshow](http://roadshow09.webdirections.org/) and taught me a few things. I think the biggest gain for me was discovering how much I don't know about design and the things I should focus on to improve. So here are a few great things I got out of the workshop.

  **Creativity, inspiration and getting ideas**. Andy's inspirations come from a variety of sources such as print posters, newspapers and comic books. In fact, a big chunk of the day was spent on comic books alone! I've developed an appreciation for comics that I never had before.

  One technique I really liked was to grab 100 images from flickr and create a 1 minute slideshow. This turned out to be very effective in conveying a mood or theme and a great way to inspire your designs.

  He also spent a good section of time on **typography** and the idea that the content should drive the design. This is quite different to the common approach of designing the cms based site and then "pouring in the content". By the way if you're talking with typography peeps, leading is the size of the line or the vertical gap between lines, tracking is the horizontal space between letters and kerning is the space between two particular characters like V and A.

  The last huge thing for me was discussing **layout**. It's all about the grid. Things that line up in a consistent way look better. A great layout should be essentially invisible because it will emphasize the content. Andy went through a bunch of ways that you can get a grid to base your layout on. From using photos of office buildings, to taking the images out of comic books, to using fibonacci or the golden ratio.

  I'm planning on detailing my experiences with these techniques as I try things out, hopefully this post will serve as an introduction to what web designers think about. I will say though if you're interested in design and you get a chance to see Andy speak, I highly recommend going along.